.introduction-container {
  background: linear-gradient(180deg, #ffc0fa 25%, #ffffff 100%);
  height: 60vh;

  .introduction-text {
    font-family: 'Book Antiqua';
    $intro-size: 75px;
    font-size: $intro-size;
    line-height: $intro-size;
    color: #8d4487;
    padding: 20vh 0 0 15vw;
  }

  .animated-text-color {
    color: transparent;
    background: linear-gradient(90deg, #d14242 0%, #8d4487 50%, #35bbc5 100%);
    background-clip: text;
    background-size: 1000% 100%;
    background-position: 50%;
    animation: fading-text-color 16s ease-in-out infinite 2s /*<- delay*/;
  }

  @keyframes fading-text-color {
    0%,
    100% {
      background-position: 50%;
    }

    25% {
      background-position: 100%;
    }
    75% {
      background-position: 0%;
    }
  }
}