.title-container {
  text-align: center;
  position: absolute;
  top: 30vh;
  width: 100%;
}

.title,
.subtitle {
  color: #c7e6ff;
  font-family: 'Courier New', Courier, monospace;
}

.title {
  font-size: 350%;
  text-decoration: underline overline #ad9760 20px;
  margin-bottom: 40px;
}

.subtitle {
  top: 35vh;
}

.background {
  z-index: -99;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #0d0216;
}