<main>
  <div class="header">
    <h1>Styles</h1>
  </div>
  <div class="elements">
    <div class="headings group">
      <span class="title-container">
        <span class="title">Headings</span>
      </span>
      <h1>Heading 1</h1>
      <h2>Heading 2</h2>
      <h3>Heading 3</h3>
      <h4>Heading 4</h4>
      <h5>Heading 5</h5>
      <h6>Heading 6</h6>
    </div>

    <div class="buttons group">
      <span class="title-container">
        <span class="title">Buttons</span>
      </span>
      <button type="button">Button</button>
    </div>

    <div class="something group">
      <span class="title-container">
        <span class="title">Something</span>
      </span>
    </div>

    <div class="something group">
      <span class="title-container">
        <span class="title">More</span>
      </span>
    </div>
  </div>
</main>
