<main>
  <div class="header">
    <h1>Style</h1>
  </div>
  <div class="elements">
    <div class="headings group">
      <span class="title-container">
        <span class="title">Font</span>
      </span>
      <h1>Roboto Black as the main display font</h1>
      <h2>Roboto Medium as the second level</h2>
      <p>
        Roboto Light as the text font.
        Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <h3>Roboto Bold as the third level heading</h3>
      <p>
        Duis aute irure dolor and <a href="javascript:// hey, what are you looking at?? 👀">links look like this</a>, while <a id="visited-link" href="javascript:// stop.">already visited links</a> look like this.
      </p>
    </div>

    <div class="colors group">
      <span class="title-container">
        <span class="title">Colors</span>
      </span>
    </div>

    <div class="buttons group">
      <span class="title-container">
        <span class="title">Buttons</span>
      </span>
      <button type="button">Button</button>
    </div>

    <div class="something group">
      <span class="title-container">
        <span class="title">More</span>
      </span>
    </div>
  </div>
</main>
